* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* debug  */
/* [class*="col-"] {
  background-color: salmon;
  border: 1px solid black;
  height: 100px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
} */

/* regole NAVBAR */
#navbar {
  background-color: #2c3e50;
}

#navbar .navbar-brand {
  color: white;
}

#navbar .navbar-default .navbar-nav>li>a {
  color: white;
}

#navbar .navbar-default {
  background-color: inherit;
  border-color: #2c3e50;
}

/* regole hamburger */
#navbar .navbar-header > .navbar-toggle {
  background-color: #00bca5;
}

#navbar .icon-bar {
  background-color: white;
}

/* regole jumbotron */

#jumbotron {
  background-color: #00bca5;
  color: white;
  height: 500px;
  text-align: center;
}

#jumbotron img {
  margin-top: 30px;
  width: 20rem;
}

#jumbotron h1 {
  font-size: 4em;
}

/* regole portfolio */

#portfolio {
  text-align: center;
  color: #2c3e50;
}

#portfolio h2 {
  font-size: 3em;
}

#portfolio img {
  max-width: 90%;
  border-radius: 10px;
  margin: 20px;
}

/* regole about */

#about {
  background-color: #00bca5;
  color: white;
  text-align: center;
}

#about h2 {
  font-size: 3em;
}

#about [class*="col-"] > p {
  text-align: left;
  font-size: 1.25em;
  margin: 30px;
}

#about div:last-child {
  padding-bottom: 10px;
}

#about a {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin: 30px;
  color: white;
  text-decoration: none;
}

/* Regole contact me */

#contactme {
  color: #2c3e50;
}
#contactme h2 {
  font-size: 3em;
  text-align: center;
}

#contactme .ghirigoro {
  text-align: center;
}
#contactme button {
  text-align: left;
  background-color: #00bca5;
  color: white;
}

#contactme label {
  text-align:  left;
}
#inputname1, #inputEmail3, #inputtel3, #inputtextarea3 {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
}
